.main-footer{
    background: #303C47;
    font-family: Roboto-Medium;
    font-size: 1em;
    color: #EFF2F5;
    line-height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
}