@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}
.search-form{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.input_text{
    background: #FFFFFF;
    font-family: Roboto-Regular;
    font-size: 1em;
    color: #778695;
    line-height: 46px;
    padding-left: 16px;
    border: 0;
    margin: 2px 2px 0 0;
    flex: 1 0 19%;
     /*-webkit-margin-start: 0px;*/
    /*-webkit-margin-end: 2px;*/
    /*-webkit-margin-after:0;*/
}
.input_text:first-child{
    border-radius: 4px 0 0 4px;
}
.icon-calendar {
    background: url(../images/icon-calendar.svg) no-repeat 90% 40% #ffffff;
    flex: 1 0 14%;
    cursor: pointer;
}
@-moz-document url-prefix() {
    .search-form {
       max-width: 1250px;
    }
}
.passengers-flightclass{
    background: url(../images/icon-arrow.svg) no-repeat 92% center #ffffff;
    flex: 1 0 15%;
    cursor: pointer;
}
.search-submit{
    background: #7CB621;
    font-family: Roboto-Regular;
    font-size: 1em;
    color: #FFFFFF;
    letter-spacing: 1px;
    border-radius: 0 4px 4px 0;
    border: 0;
    padding: 2px 0 0;
    cursor: pointer;
    text-shadow: 0 1px 0 #56881F;
    text-transform: uppercase;
    height: 48px;
    margin-top: 2px;
    flex: 1 0 10%;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 2px;
}
.search-form-container{
    height: 87vh;
    min-height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 1200px) {
  .search-submit {
      border-radius: 0 !important;
      flex-basis: 99%;
      margin: 2px 2px 0 2px;
      }
    .input_text {
          border-radius: 0 !important;
      }
  .input_text:first-child{
      margin-left: 2px;
      }
  }
@media screen and (max-width: 1024px) {
    .input_text {
        flex-basis: 49%;
    }
    .input_text:nth-child(odd){
    margin-left: 2px;
    }
    .icon-calendar {
        flex-basis: 24.1%;
        width: 100%;
    }
    .icon-calendar:nth-child(even) {
        margin-right: 0;
    }
    /*.passengers-flightclass {*/
        /*margin-left: 0 !important;*/
    /*}*/
        /*.search-submit{
            margin: 2px 2px 0 2px;
        }*/

    }
    @media screen and (max-width: 710px) {
        .icon-calendar {
            flex-basis: 49%;
        }
        .icon-calendar:nth-child(even) {
            margin-right: 2px;
            margin-left: 0px;
        }
        /*.search-submit{
          flex-basis: 49%;
          margin: 2px 2px 0 0px;
        }*/
    }
@media screen and (max-width: 414px) {
    .input_text {
        flex-basis: 99%;
        border-radius: 0 !important;
        margin: 2px 2px 0 2px;
    }
    .icon-calendar {
        flex-basis: 24.1%;
        width: 100%;
    }
    .icon-calendar:nth-child(even) {
        margin-right: 2px;
        margin-left: 0px;
    }
}
@media screen and (max-width: 350px) {
  .input_text{
    flex-basis: 98%;
  }
  .icon-calendar:nth-child(even) {
      margin-left: 2px;
  }
  .search-submit {
      flex-basis: 98%;
    }
}
